<main>
	<h3 style="text-align: center"><i>Discover who I am as a person aside from being a software engineering student</i></h3>
	<h1 class="heading">MY PASSIONS AND PERSONALITY</h1>
	<p style="text-align: center"><%= image_tag("/rugby.jpg", class: "img-circle") %></p>