<main>
	<h3 style="text-align: center"><i>Learn about who I am aside from being a software engineering student</i></h3>
	<p style="text-align: center"><%= image_tag("/rugby.jpg", class: "img-circle", id: "aboutme-top") %></p>
	<h1 class="heading">MY PASSIONS AND PERSONALITY</h1>

	<p class="about-me-text"> For the last 15 years my passion has been rugby. I have played primarily for the Glendale Raptors with a brief stint with Denver Barbarians as well as playing college rugby at Colorado State University.</p>

	<p class="about-me-text">Throughout my rugby career, I have been fortunate to have played alongside some of the best players in America as well as being coached by some of the greatest players in the world. </p>

	<p class="about-me-text">Rugby has allowed me to travel all over the United States and has taught me the value of hard work, discipline and teamwork.</p>

	<div class="about-me-accolades">
	<p>Rugby Accolades:</p>

		<ul>
			<li>ERFU Select Side - High School | 2004</li>
			<li>KUDU Select Side | 2006</li>
			<li>ERFU Select Side - College | 2006</li>
			<li>Selects 7's | 2015</li>
			<li>2014 All PRP Team</li>
			<li>Glendale Raptors<ul>
					<li>2011 National Champions</li>
					<li>2015 & 2016 PRP Champions</li>
				</ul></li>
		</ul>
	</div>

