<h1 class="heading" id="homename">Justin Pauga</h1>
    <p style="text-align: center"><%= image_tag ("Signature.png"), class: "img-circle" %></p>

    <div style="margin: 0% 15% 0% 15%">
    <p style="text-align: center">I am a software engineering student with a passion for learning and writing code. I have a strong knowledge of object-oriented programming and application development tools. Consistently commended by professors and classmates for programming abilities, grasp of multiple technologies and attention to detail. Known as a self-starter, multitasker and team player who strives to consistently exceed expectations.</p>
</div>
</main>
<footer>
<hr>
    <h2 class="heading">Feel free to contact me directly!</h2>

    <!-- Social media and contact links. -->
    <div class="socialbtns" style="text-align: center">
        <p><a href="https://github.com/paugajt" target="_blank" class="fa fa-lg fa-github"></a>
        <a href="https://www.linkedin.com/in/justin-pauga-51152698/" target="_blank" class="fa fa-lg fa-linkedin"></a>
        <a href="https://www.facebook.com/justin.pauga" target="_blank" class="fa fa-lg fa-facebook"></a>
      </p>
      <a href="mailto:paugajt@gmail.com" target="_blank">paugajt@gmail.com</a>
    </div>

    <p style="text-align: center">Copyright 2017 by Justin Pauga</p>
</footer>
