<main>
  <h1 class="heading">Programming Projects</h1>
  <p style="text-align: center"><%= image_tag("/coding.jpg", class: "projects-img") %></p>
  <hr>

  <h2 class="heading"><a href="https://rebelscrum.herokuapp.com" target="_blank">Spring Boot Web Application</a></h2>
  <p style="text-align: center"><%= image_tag("/springboot.PNG", class: "projects-img") %></p>

    <p>Follow my progress working with my scrum group, Rebel Scrum, to develop a database web application in java. Using agile development techniques we will have an updated, working project every two weeks.</p>

    <p style="text-align: center"><a href="https://github.com/paugajt/RebelScrumBannerProject" target="_blank">Github Repo</a></p>
<hr>

  <h2 class="heading">Ruby on Rails Web Application</h2>
  <p style="text-align: center"><%= image_tag("/rails.PNG", class: "projects-img") %></p>
  <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt.</p>

  <p style="text-align: center"><a href="https://github.com/paugajt/WebApp" target="_blank">Github Repo</a></p>

</main>


<footer>
<hr>
    <h2>Feel free to contact me directly!</h2>

    <!-- Social media and contact links. -->
    <div class="socialbtns" style="text-align: center">
        <p><a href="https://github.com/paugajt" target="_blank" class="fa fa-lg fa-github"></a>
        <a href="https://www.linkedin.com/in/justin-pauga-51152698/" target="_blank" class="fa fa-lg fa-linkedin"></a>
        <a href="https://www.facebook.com/justin.pauga" target="_blank" class="fa fa-lg fa-facebook"></a>
      </p>
      <a href="mailto:paugajt@gmail.com" target="_blank">paugajt@gmail.com</a>
    </div>

    <p style="text-align: center">Copyright 2017 by Justin Pauga</p>
</footer>