<main>
        <p style="text-align: center"><%= image_tag("/Signature.PNG", class: "img-circle") %></p>
        <h1 class="heading">Justin Pauga</h1>

        <h2 class="heading">Software Engineering Student</h2>
        <p style="text-align: center"><a href="justinpauga.pdf" target="_blank">Download Resume</a></p>
        <hr>

        <h2 class="resume-section">Education</h2>
        <hr>
        <div id="school_info">
          <b>Baccalaureate of Science | Computer Science | Mathematical Science Minor</b>
          <p>Metropolitan State University of Denver | Denver, Colorado</p>
          <p> Graduation | December 2018</p>
        </div>
        <hr>
        <h2 class="resume-section">Skill Highlights</h2>
        <hr>
        <div class="info" id="skills">
          <ul class="col">
            <li>Agile/Scrum Methodology</li>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>Visual Basic .NET</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>SQL</li>
            <li>Git & Github</li>
            <li>SAP</li>
            <li>Microsoft Office (Word, Excel, Access)</li>
          </ul>
        </div>
        <hr>
        <h2 class="resume-section">Experience</h2>
          <hr>
          <div class="info">
          <p class="resume-info">IT Manager<span style="float:right">September 2017 - Present</span></p>
          <p class="resume-info">Walls By Design</p>
          <p class="resume-text-body">Responsible for the design, build, and implementation of a new CRM and DBMS to fit current company needs and to be scalable as the company grows. Also responsible for general IT and program issues within the company.</p>
          <hr>
          <p class="resume-info">Computer Lab Technician<span style="float: right">August 2016 - Present</span></p>
          <p class="resume-info">Metropolitan State University of Denver</p>
          <p class="resume-text-body">Monitor for the campus computer lab and assisting students with technical issues. Responsible for trouble shooting various issues including server connection problems, hardware issues, running scripts and assisting students with program issues and connecting with the printers.</p>           

        </div>


</main>
 <footer>
<hr>
    <h2>Feel free to contact me directly!</h2>

    <!-- Social media and contact links. -->
    <div class="socialbtns" style="text-align: center">
        <p><a href="https://github.com/paugajt" target="_blank" class="fa fa-lg fa-github"></a>
        <a href="https://www.linkedin.com/in/justin-pauga-51152698/" target="_blank" class="fa fa-lg fa-linkedin"></a>
        <a href="https://www.facebook.com/justin.pauga" target="_blank" class="fa fa-lg fa-facebook"></a>
      </p>
      <a href="mailto:paugajt@gmail.com" target="_blank">paugajt@gmail.com</a>
    </div>

    <p style="text-align: center">Copyright 2017 by Justin Pauga</p>
</footer>
