<main id="resume">
        <p style="text-align: center"><%= image_tag ("Signature.png"), class: "img-circle" %></p>
        
        <h2 class="heading">Software Engineering Student</h2>
        <p style="text-align: center">You can download a PDF version of my full resume: <%= link_to "Here", download_resume_path%></p>
        <hr>

        <h2 class="resume-section-center">Education</h2>
        <hr>
        <div id="school_info">
          <b>Baccalaureate of Science | Computer Science | Mathematical Science Minor</b>
          <p>Metropolitan State University of Denver | Denver, Colorado</p>
          <p> Graduation | December 2018</p>
        </div>
        <hr>
        <h2 class="resume-section">Skill Highlights</h2>
        <hr>
        <div class="info" id="skills">
          <ul class="col">
            <li>Agile/Scrum Methodology</li>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>Visual Basic .NET</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>SQL</li>
            <li>Git & Github</li>
            <li>SAP</li>
            <li>Microsoft Office (Word, Excel, Access)</li>
          </ul>
        </div>
        <hr>
        <h2 class="resume-section">Experience</h2>
          <hr>
          <div class="info">
          <p class="resume-info">IT Manager<span style="float:right">September 2017 - Present</span></p>
          <p class="resume-info">Walls By Design</p>
          <p class="resume-text-body">Responsible for the design, build, and implementation of a new CRM and DBMS to fit current company needs and to be scalable as the company grows. Also responsible for general IT and program issues within the company.</p>
          <hr>
          <p class="resume-info">Computer Lab Technician<span class="job-date">August 2016 - Present</span></p>
          <p class="resume-info">Metropolitan State University of Denver</p>
          <p class="resume-text-body">Monitor for the campus computer lab and assisting students with technical issues. Responsible for trouble shooting various issues including server connection problems, hardware issues, running scripts and assisting students with program issues and connecting with the printers.</p> 
          <hr>
          <p class="resume-info">Professional Athlete<span class="job-date">January 2016 - August 2017</span></p>
          <p class="resume-info">ProRugby North America | Glendale Raptors</p>
          <p class="resume-text-body">Contracted player in the first professional rugby league in America. Responsible for daily meetings, workouts and practice sessions as well as competing for the Denver team on the weekends.  Also responsible for participation in media and sponsor-related activities and interviews. This position required strong teamwork skills, dedication, motivation, excellent decision making skills, an understanding of excellence and high-performance as well as the ability to perform under pressure.</p>
          <hr>
          <p class="resume-info">Heavy Equipment Operator | Supervisor<span class="job-date">March 2014 - January 2016</span></p>
          <p class="resume-info">Gilbert Contracting Inc</p>
          <p class="resume-text-body">Began as a laborer, was promoted to heavy equipment operator and then became supervisor. Responsible for managing and supervising laborers and operators on a job site to ensure all safety procedures were being followed while completing job assignments on time. Job assignments included digging foundations, installing drainage infrastructure, as well as grading earth for concrete and asphalt.  Also responsible for reading blueprints, calculating elevation measurements and using engineering tools in the field.</p>
        </div>
        <hr>
        <h2 class="resume-section">Additional Experience</h2>
        <hr>
        <div class="info" id="exp-add">
          <ul class="exp-col">
            <li>Nike | 2013-2014</li>
            <li>Denver Water | 2010-2012</li>
            <li>Anheuser Busch | 2008-2010</li>
            <li>City of Wheat Ridge | 2004-2007</li>
          </ul>
        </div>


</main>
