<main>
	<h1 class="heading">Ruby on Rails Web Application</h1>
  
  <p class="projects-text">Database web application built using Ruby on Rails, HTML and CSS. The application stores professors and students as well as courses and sections. Functionality includes the ability to assign sections to a course and a professor.</p>

  <p style="text-align: center"><%= image_tag("/rails.PNG", class: "projects-img") %></p>

  <p style="text-align: center">See the source code here: <a href="https://github.com/paugajt/WebApp" target="_blank">Github Repo</a></p>

</main>

