<main>
	<h1 class="heading">Spring Boot Web Application</h1>
  
  <p class="projects-text" style="text-align: center">Database web application built using Spring Boot framework, Java, HTML, and CSS. Developed using Agile development techniques with my Scrum group, RebelScrum.</p>




  <p style="text-align: center"><%= image_tag("/springboot.PNG", id: "springboot") %></p>

  <p class="projects-text">This application stores users as professors, students or administrators. It also keeps track of courses, sections, buildings and classrooms. Functionality includes creating a schedule based on a semester and year as well as assigning professors to a section of a course and allowing students to sign up for sections.</p>

    
  <p style="text-align: center">See the app in action here: <a href="https://rebelscrum.herokuapp.com" target="_blank">Heroku App</a> | See the source code here: <a href="https://github.com/paugajt/RebelScrumBannerProject" target="_blank">Github Repo</a></p>
</main>