<main>
	<h1 class="heading">Visual Basic Vending Machine</h1>

	<p class="projects-text"> Windows application built using Visual Basic .NET. A functional Vending machine that allows a user to select up to five items for an order, "input" money and receive change as well as their items. Includes a manager mode that allows a manager to log in, update inventory, generate a sales report, generate an inventory report and pull out the daily profit.</p>

	<p style="text-align: center">You can see the source code here: <a href="https://github.com/paugajt/VB-Vending-Machine" target="_blank">Github</a></p>