// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
	font-size: 32pt;
}
.projects-text {
	margin-left: 25%;
	width: 50%;
}

#springboot {
	height: 300px;
	width: 750px;
}

#visualbasic {
	height: 400px;
	width: 600px;
}

#rubyonrails {
	height: 350px;
	width: 600px;
}