body {

  background: linear-gradient(#303030, white);
}


.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.heading {
  text-align: center;
}

#homename {
  font-size: 400%;
}

.img-circle {
    border-radius: 50%;
}

.projects-img {
	height: 300px;
	width: 750px;
}

#school_info {
	text-align: center;
}

.col {
	column-count: 3;
	column-gap: 20px;
	list-style-position: inside;
	display: inline-block;
}

.exp-col {
  column-count: 2;
  column-gap: 20px;
  list-style-position: inside;
  display: inline-block;
}

#exp-add {
  text-indent: 150px;
}

#skills {
	text-indent: 75px;
}

.resume-section {
	text-indent: 175px;
}

.resume-section-center {
	text-align: center;
}

.resume-info {
	margin: 0;
	text-indent: 175px;
	font-weight: bold;
}

.resume-text-body {
	margin-left: 175px;
	width: 80%;

}

.info hr {
	margin-left: 175px;
}

.job-date {
  float: right;
  margin-right: 125px;
}

#aboutme-top {
	height: 300px;
	width: 250px;
}

#resume {
	
}

.about-me-text {
	margin-left: 15%;
	margin-right: 15%;
}

.about-me-accolades {
	margin-left: 15%;
	margin-rigth: 15%;
}

.accolades {
	margin-left: 15%;
}