<!DOCTYPE html>
<html>
  <head>
    <title>JustinPauga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="container">


    
    <header>
      <div class="container-fluid">
      	<div class="navbar" id="myNavbar">
      <a href="http://localhost:3000">Home</a>
      <a href="http://localhost:3000/static_pages/projects">Projects</a>
      <a href="http://localhost:3000/static_pages/resume">Resume</a>
      <a href="contact.html" style="float: right">Contact</a>
    </div>
        
        </div>
      </nav>
    </header>
    <%= yield %>
</body>

</html>
